.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100%);
  height: 100%;
}

.cell__color_black {
  background-color: black;
}

.cell__color_blue {
  background-color: blue;
}

.cell__color_red {
  background-color: red;
}